body{
    background-color: #343434;
    color:#fafafa;
}

img{
    max-width: 100%;
    max-height: 100%;
}

button {
    background-color: #04AA6D; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 15px 32px; /* Spacing */
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
  }
  

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1{
    text-align: center;
}

#score{
    background-color: white;
    width: 400px;
    height: 200px;
    color:rgb(38, 13, 13);
    font-size:100px;
    text-align: center;
}

#scorea{
    background-color: rgba(255, 255, 255, 0.853);
    width: 400px;
    height: 200px;
    color:rgb(36, 35, 35);
    font-size:100px;
    text-align: center;
}

body{
     display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.scoreboard{
    padding:10px;
    border:solid 1px ;
    width: 400px;
    border-radius: 0%;
    background-color: #5b5a5a;

}

#endGame {
    background-color: #d31717; /* Green background */
    border: none;
    margin-top: 30px;
    color: white; /* White text */
    padding: 15px 32px; /* Spacing */
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
  }