body{
    background-color: #343434;
    color:#fafafa;
}

img{
    max-width: 100%;
    max-height: 100%;
}

button {
    background-color: #04AA6D; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 15px 32px; /* Spacing */
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
  }
  

.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.score{
    background-color: white;
    width: 200px;
    height: 200px;
    color:red;
    font-size:100px;
}